

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 100px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  background-color: hsl(300, 43%, 22%);
  color: #fff;
  padding: 1.5rem;
  line-height: 1.5rem;
  padding: 30px;
}

.card-deck {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: Spartan;
  font-size: 90%;
}

.card-img-top {
  width: 10%;
  border-radius: 100%;
  position: absolute;

}

.card-head {
  position: relative;
  bottom: 10%;
  left: 15%;
}

.card-subtitle {
  font-weight: 300;
  color: hsl(333, 80%, 67%);
}

.card-title {
  font-family: Spartan;
  font-weight: 500;
  color: hsl(300, 24%, 96%);
}

.container {
  background-color: hsl(300, 24%, 96%);
  font-family: ;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  border-radius: 3%;
  width: 400px;
  position: absolute;
}

.title {
  margin-left: 200px;
  margin-top: 100px;
}

.cont1 {
  right: 200px;
  top: 100px;
}

.cont2 {
  right: 150px;
  top: 200px;
}

.cont3 {
  right: 100px;
  top: 300px;
}
.review-p {
  display: inline-block;
  line-height: 2.5;
  position: relative;
  top: 0.2rem;
  margin-top: 16px;
}

.stars {
  display: inline-block;
}

.card1 {
  top: 50px;
  bottom: 70px;
}

.card2 {
  top: 100px;
  bottom: 70px;
}

.card3 {
  top: 150px;
  bottom: 70px;
}


h1 {
  font-family: Spartan;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

body {
  font-size: 15px;
  background-image: url(images/bg-pattern-top-desktop.svg),
  url(images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

h4 {
  color: #797a7e;
  font-weight: 400;
  font-size: 20px;
}




@media only screen and (max-width: 600px) {

.container {
  position: static;
}
.title {
  margin: 0 20%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 60px;
}
.card-deck {
  margin-top: 20px;
  margin-bottom: 50px;
}
body {
  font-size: 15px;
  background-image: url(images/bg-pattern-top-mobile.svg),
  url(images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.stars {
  display: block;
  text-align: center;
}
.review-p {
  text-align: center;
  margin: 0 18%;
}
.card-head {
position: relative;
bottom: 30px;

}
}
